@import '../app/variables.scss';
.title-card-new{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  
  color: $neutral-0;
}
.card-big-custom{
  height: 381px!important;
  min-height: 381px!important;
  padding: 16px 16px 30px 16px;
  &.card-body{
    padding: 0!important;
  }
}
.col-207{
  max-width: 207px;
  width: 100%;
}
.card-custom-card {
  position: relative;
  overflow: hidden;
  height: 100%!important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)!important;
  border: none!important;
  &.card-body{
    padding: 14px 9px 9px 9px !important;
  }
  h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $neutral-0;
    margin-bottom: 50px;
  }
}

.padding-box{
  padding-left: 14px;
  padding-right: 14px;
}

.border-radius-10px{
  border-radius: 10px;
}

.top-box{
  height: 48px;
}
.feed-padding{
  padding: 0px 12px 0px 12px !important;
}

.dashboard-padding{
  padding: 0px 20px 0px 20px !important;
}

.close-custom{
  position: absolute!important;
  right: 0!important;
  top: 0!important;
  margin: 0!important;
}

.close{
  position: absolute;
  right: 0;
  top: -16px;
}

.mb-14{
  margin-bottom: 14.87px!important;
}
.mb-16{
  margin-bottom: 16px!important;
}
.mb-20{
  margin-bottom: 20px!important;
}
.mb-22{
  margin-bottom: 22px!important;
}
.mb-28{
  margin-bottom: 28px!important;
}
.mb-32{
  margin-bottom: 32px!important;
}
.mb-35{
  margin-bottom: 35px!important;
}
.mb-37{
  margin-bottom: 37px!important;
}
.mb-38{
  margin-bottom: 38px!important;
}
.mt-24{
  margin-top: 24px!important;
}
.mt-28{
  margin-top: 28px!important;
}
.mt-38{
  margin-top: 38px!important;
}
.mt-55{
  margin-top: 55px!important;
}
.my-55{
  margin-top: 55px!important;
  margin-bottom: 55px!important;
}
.mt-145{
  margin-top: 145px!important;
}
.my-24{
  margin-top: 24px!important;
  margin-bottom: 24px!important;
}
.my-26{
  margin-top: 26px!important;
  margin-bottom: 26px!important;
}

.pt-24{
  padding-top: 24px!important;
}
.pt-28{
  padding-top: 28px!important;
}

.pt-34{
  padding-top: 34px!important;
}
.pb-20{
  padding-bottom: 20px!important;
}
.pr-15{
  padding-right: 15px!important;
}
.px-20{
  padding-left: 32px;
  padding-right: 20px;
}
.pl-43{
  padding-left: 43px!important;
}
.py-36{
  padding-top: 36px!important;
  padding-bottom: 36px!important;
}
.px-24{
  padding-left: 24px!important;
  padding-right: 24px!important;
}
.px-40{
  padding-left: 40px!important;
  padding-right: 40px!important;
}

.px-12{
  padding-left: 12px!important;
  padding-right: 12px!important;
}
.mx-20{
  margin-left: 20px!important;
  margin-right: 20px!important;
}
